{% extends "base.html" %}
{%block page_body%}
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="post">
				{% csrf_token %}
				<span class="contact100-form-title">
					Employee Information
				</span>

				{% for field in form.visible_fields%}
				{% if field.field.widget.input_type == 'select' %}
					<div class="wrap-input100 input100-select bg1">
						<span class="label-input100">{{field.label}}</span>
						<div>
							<select class="js-select2" name="{{field.name}}">
								{% for value, text in field.field.choices %}
									<option>{{text}}</option>
								{% endfor %}
							</select>
							<div class="dropDownSelect2"></div>
						</div>
					</div>
				{% elif field.field.widget.input_type == 'date' %}
					<div class="wrap-input100 input100-select bg1" data-validate="{% if field.errors %} {{field.errors.0}}{% endif %}">
							<span class="label-input100">{{field.label}}</span>
							<input class="input100" type="date" name="{{field.name}}" placeholder="{{field.label}}" value="{%if field.value%}{{field.value}}{% endif %}">
							
					</div>
				{% else %}
					<div class="wrap-input100 validate-input bg1" data-validate="{% if field.errors %} {{field.errors.0}}{% endif %}">
					<span class="label-input100">{{field.label}}</span>
					<input class="input100" type="text" name="{{field.name}}" placeholder="{{field.label}}" value="{%if field.value%}{{field.value}}{% endif %}">
				</div>
				{% endif %}
				{% endfor %}
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
{%endblock page_body%}